{% extends 'catalog/base.html' %}

{% block title %}Контакты | ЯсеньStudio{% endblock %}

{% block content %}
    <h2>Наши контакты</h2>
    <p>Мастерская «ЯсеньStudio» находится в г. Зеленоград.</p>
    <ul>
        <li><strong>Телефон:</strong> +7 (999) 000-00-00</li>
        <li><strong>Email:</strong> smolgrand@.ru</li>
        <li><strong>Часы работы:</strong> Пн-Пт с 9:00 до 18:00</li>
    </ul>
    <p>Вы всегда можетен написать нам, чтобы посмотреть обсудить ваш индивидуальный проект!</p>
{% endblock %}
